# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Build directories
build/
dist/
*.egg-info/

# Log files
*.log

# Virtual environments (optional)
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db
